In [2]:
import pandas as pd
import numpy as np
import datetime
import gc

In [3]:
universe = pd.read_csv('D:/project/e4040-2020Fall-Project-WNZH-jr4001-xy2419-gl2664/universe_files/financial_ratios_universe_5.csv',low_memory=False,dtype={'COMNAM':str,'NCUSIP':str,'cusip_NCUSIP':str,'cusip_cusip':str,'cusip':str,'PERMNO':str,'permno_cusip':str,'permno_NCUSIP':str,'permno':str,'PERMCO':str,'SICCD':str,'TICKER_original':str,'TICKER_PERMNO':str,'TICKER_permno':str,'TICKER_copy':str})

In [4]:
universe['DATE'] = pd.to_datetime(universe['DATE'],format="%Y-%m-%d")

In [5]:
return_data = pd.read_csv('D:\Project\e4040-2020Fall-Project-WNZH-jr4001-xy2419-gl2664\data\WRDS_ALL_PRICE_RETURN_DATA_Monthly\WRDS_ALL_PRICE_RETURN_DATA_Monthly_V2.csv','\t',low_memory=False,index_col=0,dtype={'gvkey':str,'iid':str,'datadate':str,'tic':str,'cusip':str,'conm':str})

C:\Users\13473\.conda\envs\envTF22\lib\site-packages\numpy\lib\arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [6]:
return_data['datadate'] = pd.to_datetime(return_data['datadate'],format="%Y%m%d")

In [7]:
return_data

,gvkey,iid,datadate,tic,cusip,conm,dvpsxm,dvrate,prccm,prchm,prclm,trfm,trt1m,sic,spcindcd,spcseccd
0,001002,1,1970-09-30,AAIC.1,000352104,AAI CORP,NaN,NaN,3.5000,3.5000,2.750,1.0,NaN,3825.0,230.0,940.0
1,001002,1,1970-10-31,AAIC.1,000352104,AAI CORP,NaN,NaN,NaN,NaN,NaN,1.0,0.0000,3825.0,230.0,940.0
2,001002,1,1970-11-30,AAIC.1,000352104,AAI CORP,NaN,NaN,3.7500,3.7500,3.750,1.0,7.1429,3825.0,230.0,940.0
3,001002,1,1970-12-31,AAIC.1,000352104,AAI CORP,NaN,NaN,4.0000,4.2500,3.500,1.0,6.6667,3825.0,230.0,940.0
4,001002,1,1971-01-31,AAIC.1,000352104,AAI CORP,NaN,NaN,4.5000,4.7500,3.875,1.0,12.5000,3825.0,230.0,940.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4131978,284041,01,2014-04-30,OCZTQ,67086E303,OCZ TECHNOLOGY GROUP INC,NaN,NaN,0.0159,0.0254,0.013,1.0,-33.7500,3572.0,NaN,NaN
4131979,284041,01,2014-05-31,OCZTQ,67086E303,OCZ TECHNOLOGY GROUP INC,NaN,NaN,0.0105,0.0162,0.010,1.0,-33.9623,3572.0,NaN,NaN
4131980,284041,01,2014-06-30,OCZTQ,67086E303,OCZ TECHNOLOGY GROUP INC,NaN,NaN,0.0132,0.0250,0.010,1.0,25.7143,3572.0,NaN,NaN
4131981,284041,01,2014-07-31,OCZTQ,67086E303,OCZ TECHNOLOGY GROUP INC,NaN,NaN,0.0124,0.0183,0.010,1.0,-6.0606,3572.0,NaN,NaN
4131982,284041,01,2014-08-31,OCZTQ,67086E303,OCZ TECHNOLOGY GROUP INC,NaN,NaN,0.0100,0.0153,0.006,1.0,-19.3548,3572.0,NaN,NaN

In [8]:
return_data['cusip'] = return_data['cusip'].str[:-1]

In [9]:
return_data

,gvkey,iid,datadate,tic,cusip,conm,dvpsxm,dvrate,prccm,prchm,prclm,trfm,trt1m,sic,spcindcd,spcseccd
0,001002,1,1970-09-30,AAIC.1,00035210,AAI CORP,NaN,NaN,3.5000,3.5000,2.750,1.0,NaN,3825.0,230.0,940.0
1,001002,1,1970-10-31,AAIC.1,00035210,AAI CORP,NaN,NaN,NaN,NaN,NaN,1.0,0.0000,3825.0,230.0,940.0
2,001002,1,1970-11-30,AAIC.1,00035210,AAI CORP,NaN,NaN,3.7500,3.7500,3.750,1.0,7.1429,3825.0,230.0,940.0
3,001002,1,1970-12-31,AAIC.1,00035210,AAI CORP,NaN,NaN,4.0000,4.2500,3.500,1.0,6.6667,3825.0,230.0,940.0
4,001002,1,1971-01-31,AAIC.1,00035210,AAI CORP,NaN,NaN,4.5000,4.7500,3.875,1.0,12.5000,3825.0,230.0,940.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4131978,284041,01,2014-04-30,OCZTQ,67086E30,OCZ TECHNOLOGY GROUP INC,NaN,NaN,0.0159,0.0254,0.013,1.0,-33.7500,3572.0,NaN,NaN
4131979,284041,01,2014-05-31,OCZTQ,67086E30,OCZ TECHNOLOGY GROUP INC,NaN,NaN,0.0105,0.0162,0.010,1.0,-33.9623,3572.0,NaN,NaN
4131980,284041,01,2014-06-30,OCZTQ,67086E30,OCZ TECHNOLOGY GROUP INC,NaN,NaN,0.0132,0.0250,0.010,1.0,25.7143,3572.0,NaN,NaN
4131981,284041,01,2014-07-31,OCZTQ,67086E30,OCZ TECHNOLOGY GROUP INC,NaN,NaN,0.0124,0.0183,0.010,1.0,-6.0606,3572.0,NaN,NaN
4131982,284041,01,2014-08-31,OCZTQ,67086E30,OCZ TECHNOLOGY GROUP INC,NaN,NaN,0.0100,0.0153,0.006,1.0,-19.3548,3572.0,NaN,NaN

In [10]:
return_table=return_data[['cusip','datadate','trt1m']].pivot_table(index='cusip',columns='datadate',values='trt1m')

In [11]:
return_table.shape

(22760, 705)

In [12]:
return_table

datadate,1962-02-28,1962-03-31,1962-04-30,1962-05-31,1962-06-30,1962-07-31,1962-08-31,1962-09-30,1962-10-31,1962-11-30,...,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31
cusip,,,,,,,,,,,,,,,,,,,,,
00003210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00016510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00020910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00030710,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-29.6166,-21.0526,-23.1667,62.6898,-9.3333,-88.2353,0.0000,-12.5000,-17.1429,-31.8966
00035210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Y8166910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-12.3411,-9.2028,-27.8388,38.5787,-3.6630,4.5627,-12.3636,21.1618,1.7123,-26.9360
Y8213L10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Y8564M10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-16.1954,-2.1790,-22.1161,20.7354,-3.5436,4.4803,-4.5455,1.7463,-5.1491,1.5238
Y8564W10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-33.0827,2.8090,-13.6612,17.7215,-21.2366,-18.0887,-0.8333,7.1429,-12.5490,-21.0762
Y8897Y18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-16.1875,-51.4094,-24.5856,-8.4249,-43.1111,7.3438,-27.0742,-94.8503,-16.2791,-5.5556

In [13]:
universe['NCUSIP'].unique().shape

(23756,)

In [14]:
dates = pd.date_range('1971-01-31','2019-12-31', freq='M').tolist()

In [15]:
cols = ['m-12','m-11','m-10','m-9','m-8','m-7','m-6','m-5','m-4','m-3','m-2','m-1','m+1']

In [35]:
new_cols = ['DATE','cusip','m-12','m-11','m-10','m-9','m-8','m-7','m-6','m-5','m-4','m-3','m-2','m-1','m+1']

In [37]:
new_return_table=pd.DataFrame()
for d in dates:
    print(d)
    time_slice = list(pd.date_range(end=d,periods=12, freq='M').tolist() + pd.date_range(start=((d+datetime.timedelta(days=1))),periods=1, freq='M').tolist())
    new_temp_df = return_table.loc[:,time_slice]
    new_temp_df.columns=cols
    new_temp_df=new_temp_df.dropna(how='all')
    new_temp_df['cusip'] = new_temp_df.index 
    new_temp_df['DATE'] = d 
    new_return_table = new_return_table.append(new_temp_df,ignore_index=True)

1971-01-31 00:00:00
1971-02-28 00:00:00
1971-03-31 00:00:00
1971-04-30 00:00:00
1971-05-31 00:00:00
1971-06-30 00:00:00
1971-07-31 00:00:00
1971-08-31 00:00:00
1971-09-30 00:00:00
1971-10-31 00:00:00
1971-11-30 00:00:00
1971-12-31 00:00:00
1972-01-31 00:00:00
1972-02-29 00:00:00
1972-03-31 00:00:00
1972-04-30 00:00:00
1972-05-31 00:00:00
1972-06-30 00:00:00
1972-07-31 00:00:00
1972-08-31 00:00:00
1972-09-30 00:00:00
1972-10-31 00:00:00
1972-11-30 00:00:00
1972-12-31 00:00:00
1973-01-31 00:00:00
1973-02-28 00:00:00
1973-03-31 00:00:00
1973-04-30 00:00:00
1973-05-31 00:00:00
1973-06-30 00:00:00
1973-07-31 00:00:00
1973-08-31 00:00:00
1973-09-30 00:00:00
1973-10-31 00:00:00
1973-11-30 00:00:00
1973-12-31 00:00:00
1974-01-31 00:00:00
1974-02-28 00:00:00
1974-03-31 00:00:00
1974-04-30 00:00:00
1974-05-31 00:00:00
1974-06-30 00:00:00
1974-07-31 00:00:00
1974-08-31 00:00:00
1974-09-30 00:00:00
1974-10-31 00:00:00
1974-11-30 00:00:00
1974-12-31 00:00:00
1975-01-31 00:00:00
1975-02-28 00:00:00
1975-03-31 00:00:00
1975-04-30 00:00:00
1975-05-31 00:00:00
1975-06-30 00:00:00
1975-07-31 00:00:00
1975-08-31 00:00:00
1975-09-30 00:00:00
1975-10-31 00:00:00
1975-11-30 00:00:00
1975-12-31 00:00:00
1976-01-31 00:00:00
1976-02-29 00:00:00
1976-03-31 00:00:00
1976-04-30 00:00:00
1976-05-31 00:00:00
1976-06-30 00:00:00
1976-07-31 00:00:00
1976-08-31 00:00:00
1976-09-30 00:00:00
1976-10-31 00:00:00
1976-11-30 00:00:00
1976-12-31 00:00:00
1977-01-31 00:00:00
1977-02-28 00:00:00
1977-03-31 00:00:00
1977-04-30 00:00:00
1977-05-31 00:00:00
1977-06-30 00:00:00
1977-07-31 00:00:00
1977-08-31 00:00:00
1977-09-30 00:00:00
1977-10-31 00:00:00
1977-11-30 00:00:00
1977-12-31 00:00:00
1978-01-31 00:00:00
1978-02-28 00:00:00
1978-03-31 00:00:00
1978-04-30 00:00:00
1978-05-31 00:00:00
1978-06-30 00:00:00
1978-07-31 00:00:00
1978-08-31 00:00:00
1978-09-30 00:00:00
1978-10-31 00:00:00
1978-11-30 00:00:00
1978-12-31 00:00:00
1979-01-31 00:00:00
1979-02-28 00:00:00
1979-03-31 00:00:00
1979-04-30 00:00:00
1979-05-31 00:00:00
1979-06-30 00:00:00
1979-07-31 00:00:00
1979-08-31 00:00:00
1979-09-30 00:00:00
1979-10-31 00:00:00
1979-11-30 00:00:00
1979-12-31 00:00:00
1980-01-31 00:00:00
1980-02-29 00:00:00
1980-03-31 00:00:00
1980-04-30 00:00:00
1980-05-31 00:00:00
1980-06-30 00:00:00
1980-07-31 00:00:00
1980-08-31 00:00:00
1980-09-30 00:00:00
1980-10-31 00:00:00
1980-11-30 00:00:00
1980-12-31 00:00:00
1981-01-31 00:00:00
1981-02-28 00:00:00
1981-03-31 00:00:00
1981-04-30 00:00:00
1981-05-31 00:00:00
1981-06-30 00:00:00
1981-07-31 00:00:00
1981-08-31 00:00:00
1981-09-30 00:00:00
1981-10-31 00:00:00
1981-11-30 00:00:00
1981-12-31 00:00:00
1982-01-31 00:00:00
1982-02-28 00:00:00
1982-03-31 00:00:00
1982-04-30 00:00:00
1982-05-31 00:00:00
1982-06-30 00:00:00
1982-07-31 00:00:00
1982-08-31 00:00:00
1982-09-30 00:00:00
1982-10-31 00:00:00
1982-11-30 00:00:00
1982-12-31 00:00:00
1983-01-31 00:00:00
1983-02-28 00:00:00
1983-03-31 00:00:00
1983-04-30 00:00:00
1983-05-31 00:00:00
1983-06-30 00:00:00
1983-07-31 00:00:00
1983-08-31 00:00:00
1983-09-30 00:00:00
1983-10-31 00:00:00
1983-11-30 00:00:00
1983-12-31 00:00:00
1984-01-31 00:00:00
1984-02-29 00:00:00
1984-03-31 00:00:00
1984-04-30 00:00:00
1984-05-31 00:00:00
1984-06-30 00:00:00
1984-07-31 00:00:00
1984-08-31 00:00:00
1984-09-30 00:00:00
1984-10-31 00:00:00
1984-11-30 00:00:00
1984-12-31 00:00:00
1985-01-31 00:00:00
1985-02-28 00:00:00
1985-03-31 00:00:00
1985-04-30 00:00:00
1985-05-31 00:00:00
1985-06-30 00:00:00
1985-07-31 00:00:00
1985-08-31 00:00:00
1985-09-30 00:00:00
1985-10-31 00:00:00
1985-11-30 00:00:00
1985-12-31 00:00:00
1986-01-31 00:00:00
1986-02-28 00:00:00
1986-03-31 00:00:00
1986-04-30 00:00:00
1986-05-31 00:00:00
1986-06-30 00:00:00
1986-07-31 00:00:00
1986-08-31 00:00:00
1986-09-30 00:00:00
1986-10-31 00:00:00
1986-11-30 00:00:00
1986-12-31 00:00:00
1987-01-31 00:00:00
1987-02-28 00:00:00
1987-03-31 00:00:00
1987-04-30 00:00:00
1987-05-31 00:00:00
1987-06-30 00:00:00
1987-07-31 00:00:00
1987-08-31 00:00:00
1987-09-30 00:00:00
1987-10-31 00:00:00
1987-11-30 00:00:00
1987-12-31 00:00:00
1988-01-31 00:00:00
1988-02-29 00:00:00
1988-03-31 00:00:00
1988-04-30 00:00:00
1988-05-31 00:00:00
1988-06-30 00:00:00
1988-07-31 00:00:00
1988-08-31 00:00:00
1988-09-30 00:00:00
1988-10-31 00:00:00
1988-11-30 00:00:00
1988-12-31 00:00:00
1989-01-31 00:00:00
1989-02-28 00:00:00
1989-03-31 00:00:00
1989-04-30 00:00:00
1989-05-31 00:00:00
1989-06-30 00:00:00
1989-07-31 00:00:00
1989-08-31 00:00:00
1989-09-30 00:00:00
1989-10-31 00:00:00
1989-11-30 00:00:00
1989-12-31 00:00:00
1990-01-31 00:00:00
1990-02-28 00:00:00
1990-03-31 00:00:00
1990-04-30 00:00:00
1990-05-31 00:00:00
1990-06-30 00:00:00
1990-07-31 00:00:00
1990-08-31 00:00:00
1990-09-30 00:00:00
1990-10-31 00:00:00
1990-11-30 00:00:00
1990-12-31 00:00:00
1991-01-31 00:00:00
1991-02-28 00:00:00
1991-03-31 00:00:00
1991-04-30 00:00:00
1991-05-31 00:00:00
1991-06-30 00:00:00
1991-07-31 00:00:00
1991-08-31 00:00:00
1991-09-30 00:00:00
1991-10-31 00:00:00
1991-11-30 00:00:00
1991-12-31 00:00:00
1992-01-31 00:00:00
1992-02-29 00:00:00
1992-03-31 00:00:00
1992-04-30 00:00:00
1992-05-31 00:00:00
1992-06-30 00:00:00
1992-07-31 00:00:00
1992-08-31 00:00:00
1992-09-30 00:00:00
1992-10-31 00:00:00
1992-11-30 00:00:00
1992-12-31 00:00:00
1993-01-31 00:00:00
1993-02-28 00:00:00
1993-03-31 00:00:00
1993-04-30 00:00:00
1993-05-31 00:00:00
1993-06-30 00:00:00
1993-07-31 00:00:00
1993-08-31 00:00:00
1993-09-30 00:00:00
1993-10-31 00:00:00
1993-11-30 00:00:00
1993-12-31 00:00:00
1994-01-31 00:00:00
1994-02-28 00:00:00
1994-03-31 00:00:00
1994-04-30 00:00:00
1994-05-31 00:00:00
1994-06-30 00:00:00
1994-07-31 00:00:00
1994-08-31 00:00:00
1994-09-30 00:00:00
1994-10-31 00:00:00
1994-11-30 00:00:00
1994-12-31 00:00:00
1995-01-31 00:00:00
1995-02-28 00:00:00
1995-03-31 00:00:00
1995-04-30 00:00:00
1995-05-31 00:00:00
1995-06-30 00:00:00
1995-07-31 00:00:00
1995-08-31 00:00:00
1995-09-30 00:00:00
1995-10-31 00:00:00
1995-11-30 00:00:00
1995-12-31 00:00:00
1996-01-31 00:00:00
1996-02-29 00:00:00
1996-03-31 00:00:00
1996-04-30 00:00:00
1996-05-31 00:00:00
1996-06-30 00:00:00
1996-07-31 00:00:00
1996-08-31 00:00:00
1996-09-30 00:00:00
1996-10-31 00:00:00
1996-11-30 00:00:00
1996-12-31 00:00:00
1997-01-31 00:00:00
1997-02-28 00:00:00
1997-03-31 00:00:00
1997-04-30 00:00:00
1997-05-31 00:00:00
1997-06-30 00:00:00
1997-07-31 00:00:00
1997-08-31 00:00:00
1997-09-30 00:00:00
1997-10-31 00:00:00
1997-11-30 00:00:00
1997-12-31 00:00:00
1998-01-31 00:00:00
1998-02-28 00:00:00
1998-03-31 00:00:00
1998-04-30 00:00:00
1998-05-31 00:00:00
1998-06-30 00:00:00
1998-07-31 00:00:00
1998-08-31 00:00:00
1998-09-30 00:00:00
1998-10-31 00:00:00
1998-11-30 00:00:00
1998-12-31 00:00:00
1999-01-31 00:00:00
1999-02-28 00:00:00
1999-03-31 00:00:00
1999-04-30 00:00:00
1999-05-31 00:00:00
1999-06-30 00:00:00
1999-07-31 00:00:00
1999-08-31 00:00:00
1999-09-30 00:00:00
1999-10-31 00:00:00
1999-11-30 00:00:00
1999-12-31 00:00:00
2000-01-31 00:00:00
2000-02-29 00:00:00
2000-03-31 00:00:00
2000-04-30 00:00:00
2000-05-31 00:00:00
2000-06-30 00:00:00
2000-07-31 00:00:00
2000-08-31 00:00:00
2000-09-30 00:00:00
2000-10-31 00:00:00
2000-11-30 00:00:00
2000-12-31 00:00:00
2001-01-31 00:00:00
2001-02-28 00:00:00
2001-03-31 00:00:00
2001-04-30 00:00:00
2001-05-31 00:00:00
2001-06-30 00:00:00
2001-07-31 00:00:00
2001-08-31 00:00:00
2001-09-30 00:00:00
2001-10-31 00:00:00
2001-11-30 00:00:00
2001-12-31 00:00:00
2002-01-31 00:00:00
2002-02-28 00:00:00
2002-03-31 00:00:00
2002-04-30 00:00:00
2002-05-31 00:00:00
2002-06-30 00:00:00
2002-07-31 00:00:00
2002-08-31 00:00:00
2002-09-30 00:00:00
2002-10-31 00:00:00
2002-11-30 00:00:00
2002-12-31 00:00:00
2003-01-31 00:00:00
2003-02-28 00:00:00
2003-03-31 00:00:00
2003-04-30 00:00:00
2003-05-31 00:00:00
2003-06-30 00:00:00
2003-07-31 00:00:00
2003-08-31 00:00:00
2003-09-30 00:00:00
2003-10-31 00:00:00
2003-11-30 00:00:00
2003-12-31 00:00:00
2004-01-31 00:00:00
2004-02-29 00:00:00
2004-03-31 00:00:00
2004-04-30 00:00:00
2004-05-31 00:00:00
2004-06-30 00:00:00
2004-07-31 00:00:00
2004-08-31 00:00:00
2004-09-30 00:00:00
2004-10-31 00:00:00
2004-11-30 00:00:00
2004-12-31 00:00:00
2005-01-31 00:00:00

2005-02-28 00:00:00
2005-03-31 00:00:00
2005-04-30 00:00:00
2005-05-31 00:00:00
2005-06-30 00:00:00
2005-07-31 00:00:00
2005-08-31 00:00:00
2005-09-30 00:00:00
2005-10-31 00:00:00
2005-11-30 00:00:00
2005-12-31 00:00:00
2006-01-31 00:00:00
2006-02-28 00:00:00
2006-03-31 00:00:00
2006-04-30 00:00:00
2006-05-31 00:00:00
2006-06-30 00:00:00
2006-07-31 00:00:00
2006-08-31 00:00:00
2006-09-30 00:00:00
2006-10-31 00:00:00
2006-11-30 00:00:00
2006-12-31 00:00:00
2007-01-31 00:00:00
2007-02-28 00:00:00
2007-03-31 00:00:00
2007-04-30 00:00:00
2007-05-31 00:00:00
2007-06-30 00:00:00
2007-07-31 00:00:00
2007-08-31 00:00:00
2007-09-30 00:00:00
2007-10-31 00:00:00
2007-11-30 00:00:00
2007-12-31 00:00:00
2008-01-31 00:00:00
2008-02-29 00:00:00
2008-03-31 00:00:00
2008-04-30 00:00:00
2008-05-31 00:00:00
2008-06-30 00:00:00
2008-07-31 00:00:00
2008-08-31 00:00:00
2008-09-30 00:00:00
2008-10-31 00:00:00
2008-11-30 00:00:00
2008-12-31 00:00:00
2009-01-31 00:00:00
2009-02-28 00:00:00
2009-03-31 00:00:00
2009-04-30 00:00:00
2009-05-31 00:00:00
2009-06-30 00:00:00
2009-07-31 00:00:00
2009-08-31 00:00:00
2009-09-30 00:00:00
2009-10-31 00:00:00
2009-11-30 00:00:00
2009-12-31 00:00:00
2010-01-31 00:00:00
2010-02-28 00:00:00
2010-03-31 00:00:00
2010-04-30 00:00:00
2010-05-31 00:00:00
2010-06-30 00:00:00
2010-07-31 00:00:00
2010-08-31 00:00:00
2010-09-30 00:00:00
2010-10-31 00:00:00
2010-11-30 00:00:00
2010-12-31 00:00:00
2011-01-31 00:00:00
2011-02-28 00:00:00
2011-03-31 00:00:00
2011-04-30 00:00:00
2011-05-31 00:00:00
2011-06-30 00:00:00
2011-07-31 00:00:00
2011-08-31 00:00:00
2011-09-30 00:00:00
2011-10-31 00:00:00
2011-11-30 00:00:00
2011-12-31 00:00:00
2012-01-31 00:00:00
2012-02-29 00:00:00
2012-03-31 00:00:00
2012-04-30 00:00:00
2012-05-31 00:00:00
2012-06-30 00:00:00
2012-07-31 00:00:00
2012-08-31 00:00:00
2012-09-30 00:00:00
2012-10-31 00:00:00
2012-11-30 00:00:00
2012-12-31 00:00:00
2013-01-31 00:00:00
2013-02-28 00:00:00
2013-03-31 00:00:00
2013-04-30 00:00:00
2013-05-31 00:00:00
2013-06-30 00:00:00
2013-07-31 00:00:00
2013-08-31 00:00:00
2013-09-30 00:00:00
2013-10-31 00:00:00
2013-11-30 00:00:00
2013-12-31 00:00:00
2014-01-31 00:00:00
2014-02-28 00:00:00
2014-03-31 00:00:00
2014-04-30 00:00:00
2014-05-31 00:00:00
2014-06-30 00:00:00
2014-07-31 00:00:00
2014-08-31 00:00:00
2014-09-30 00:00:00
2014-10-31 00:00:00
2014-11-30 00:00:00
2014-12-31 00:00:00
2015-01-31 00:00:00
2015-02-28 00:00:00
2015-03-31 00:00:00
2015-04-30 00:00:00
2015-05-31 00:00:00
2015-06-30 00:00:00
2015-07-31 00:00:00
2015-08-31 00:00:00
2015-09-30 00:00:00
2015-10-31 00:00:00
2015-11-30 00:00:00
2015-12-31 00:00:00
2016-01-31 00:00:00
2016-02-29 00:00:00
2016-03-31 00:00:00
2016-04-30 00:00:00
2016-05-31 00:00:00
2016-06-30 00:00:00
2016-07-31 00:00:00
2016-08-31 00:00:00
2016-09-30 00:00:00
2016-10-31 00:00:00
2016-11-30 00:00:00
2016-12-31 00:00:00
2017-01-31 00:00:00
2017-02-28 00:00:00
2017-03-31 00:00:00
2017-04-30 00:00:00
2017-05-31 00:00:00
2017-06-30 00:00:00
2017-07-31 00:00:00
2017-08-31 00:00:00
2017-09-30 00:00:00
2017-10-31 00:00:00
2017-11-30 00:00:00
2017-12-31 00:00:00
2018-01-31 00:00:00
2018-02-28 00:00:00
2018-03-31 00:00:00
2018-04-30 00:00:00
2018-05-31 00:00:00
2018-06-30 00:00:00
2018-07-31 00:00:00
2018-08-31 00:00:00
2018-09-30 00:00:00
2018-10-31 00:00:00
2018-11-30 00:00:00
2018-12-31 00:00:00
2019-01-31 00:00:00
2019-02-28 00:00:00
2019-03-31 00:00:00
2019-04-30 00:00:00
2019-05-31 00:00:00
2019-06-30 00:00:00
2019-07-31 00:00:00
2019-08-31 00:00:00
2019-09-30 00:00:00
2019-10-31 00:00:00
2019-11-30 00:00:00
2019-12-31 00:00:00

In [40]:
new_return_table=new_return_table[new_cols]

In [41]:
new_return_table

,DATE,cusip,m-12,m-11,m-10,m-9,m-8,m-7,m-6,m-5,m-4,m-3,m-2,m-1,m+1
0,1971-01-31,00003210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.3830,-28.0000,11.1111,-10.0000,23.6111
1,1971-01-31,00035210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,7.1429,6.6667,12.5000,50.0000
2,1971-01-31,00036110,4.4445,4.2553,-4.0816,-5.3191,0.1966,3.4483,34.4445,15.7025,1.4285,-4.9296,5.9259,-7.6923,-6.0417
3,1971-01-31,00095710,8.2436,-9.9337,-23.3529,6.7308,2.7027,6.3508,5.3720,22.7450,-8.4344,3.8461,9.0909,-0.1235,11.7721
4,1971-01-31,00100710,11.2871,5.8036,-18.1435,-3.1959,-2.6738,8.7912,-7.6768,10.4396,5.9701,0.8451,7.9439,11.2554,17.0428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3619722,2019-12-31,Y8162K20,-18.9278,-0.2699,-10.9608,32.0669,-11.9678,26.1438,2.3834,5.9717,-3.8204,5.7597,3.6620,7.4613,-31.4141
3619723,2019-12-31,Y8166910,21.0145,-2.9940,8.0247,2.0000,-4.2017,0.5848,5.8140,-13.4615,-3.8095,8.2508,6.0976,-1.4368,-12.3411
3619724,2019-12-31,Y8564M10,17.9673,10.7309,5.0562,-1.1364,-9.9391,7.3877,2.5532,1.7289,-5.9917,6.8132,5.9764,2.0328,-16.1954
3619725,2019-12-31,Y8564W10,6.7365,16.8091,-4.3902,6.1224,-22.8365,7.1651,32.5581,-19.5175,8.9918,27.7500,-5.8708,10.6029,-33.0827
3619726,2019-12-31,Y8897Y18,13.2062,-11.0324,-1.0856,-15.6098,-23.4104,-15.8679,-16.6854,-8.2100,-58.9443,14.2857,-76.0406,4.3432,-16.1875

In [42]:
universe.columns

Index(['DATE', 'COMNAM', 'NCUSIP', 'cusip_NCUSIP', 'cusip_cusip', 'cusip',
       'PERMNO', 'permno_cusip', 'permno_NCUSIP', 'permno', 'PERMCO', 'SICCD',
       'TICKER_original', 'TICKER_PERMNO', 'TICKER_permno', 'TICKER_copy',
       'accrual', 'adv_sale', 'aftret_eq', 'aftret_equity', 'aftret_invcapx',
       'at_turn', 'bm', 'CAPEI', 'capital_ratio', 'cash_conversion',
       'cash_debt', 'cash_lt', 'cash_ratio', 'cfm', 'curr_debt', 'curr_ratio',
       'de_ratio', 'debt_assets', 'debt_at', 'debt_capital', 'debt_ebitda',
       'debt_invcap', 'divyield', 'dltt_be', 'dpr', 'efftax', 'equity_invcap',
       'evm', 'fcf_ocf', 'gpm', 'GProf', 'int_debt', 'int_totdebt', 'intcov',
       'intcov_ratio', 'inv_turn', 'invt_act', 'lt_debt', 'lt_ppent', 'npm',
       'ocf_lct', 'opmad', 'opmbd', 'pay_turn', 'pcf', 'pe_exi', 'pe_inc',
       'pe_op_basic', 'pe_op_dil', 'PEG_1yrforward', 'PEG_ltgforward',
       'PEG_trailing', 'pretret_earnat', 'pretret_noa', 'profit_lct', 'ps',
       'ptb', 'ptpm', 'quick_ratio', 'rd_sale', 'rect_act', 'rect_turn', 'roa',
       'roce', 'roe', 'sale_equity', 'sale_invcap', 'sale_nwc', 'short_debt',
       'staff_sale', 'totdebt_invcap'],
      dtype='object')

In [ ]:
['NCUSIP', 'cusip_NCUSIP', 'cusip_cusip', 'cusip']

In [43]:
universe=universe.merge(new_return_table, how='left',left_on=['DATE','NCUSIP'],right_on=['DATE','cusip'],suffixes=['_original','_added'])

In [44]:
universe=universe.merge(new_return_table, how='left',left_on=['DATE','cusip_NCUSIP'],right_on=['DATE','cusip'],suffixes=['_original','_added'])

In [46]:
universe.to_csv('./universe_files/financial_ratios_universe_6.csv',index=False)

In [107]:
idx = (universe[[s + '_original' for s in cols]].isna()).sum(axis=1)==13

In [124]:
idx = (universe[[s + '_original' for s in cols]].isna()).sum(axis=1)==13
for col in cols:
    print(col)
    tofill=universe.loc[idx,col+'_added']
    universe.loc[idx,(col+'_original')] = universe.loc[idx,(col+'_original')].fillna(value=tofill)

m-12
m-11
m-10
m-9
m-8
m-7
m-6
m-5
m-4
m-3
m-2
m-1
m+1

In [126]:
universe.to_csv('./universe_files/financial_ratios_universe_7.csv',index=False)

In [127]:
list(universe.columns)

['DATE',
 'COMNAM',
 'NCUSIP',
 'cusip_NCUSIP',
 'cusip_cusip',
 'cusip_original',
 'PERMNO',
 'permno_cusip',
 'permno_NCUSIP',
 'permno',
 'PERMCO',
 'SICCD',
 'TICKER_original',
 'TICKER_PERMNO',
 'TICKER_permno',
 'TICKER_copy',
 'accrual',
 'adv_sale',
 'aftret_eq',
 'aftret_equity',
 'aftret_invcapx',
 'at_turn',
 'bm',
 'CAPEI',
 'capital_ratio',
 'cash_conversion',
 'cash_debt',
 'cash_lt',
 'cash_ratio',
 'cfm',
 'curr_debt',
 'curr_ratio',
 'de_ratio',
 'debt_assets',
 'debt_at',
 'debt_capital',
 'debt_ebitda',
 'debt_invcap',
 'divyield',
 'dltt_be',
 'dpr',
 'efftax',
 'equity_invcap',
 'evm',
 'fcf_ocf',
 'gpm',
 'GProf',
 'int_debt',
 'int_totdebt',
 'intcov',
 'intcov_ratio',
 'inv_turn',
 'invt_act',
 'lt_debt',
 'lt_ppent',
 'npm',
 'ocf_lct',
 'opmad',
 'opmbd',
 'pay_turn',
 'pcf',
 'pe_exi',
 'pe_inc',
 'pe_op_basic',
 'pe_op_dil',
 'PEG_1yrforward',
 'PEG_ltgforward',
 'PEG_trailing',
 'pretret_earnat',
 'pretret_noa',
 'profit_lct',
 'ps',
 'ptb',
 'ptpm',
 'quick_ratio',
 'rd_sale',
 'rect_act',
 'rect_turn',
 'roa',
 'roce',
 'roe',
 'sale_equity',
 'sale_invcap',
 'sale_nwc',
 'short_debt',
 'staff_sale',
 'totdebt_invcap',
 'cusip_added',
 'm-12_original',
 'm-11_original',
 'm-10_original',
 'm-9_original',
 'm-8_original',
 'm-7_original',
 'm-6_original',
 'm-5_original',
 'm-4_original',
 'm-3_original',
 'm-2_original',
 'm-1_original',
 'm+1_original',
 'cusip',
 'm-12_added',
 'm-11_added',
 'm-10_added',
 'm-9_added',
 'm-8_added',
 'm-7_added',
 'm-6_added',
 'm-5_added',
 'm-4_added',
 'm-3_added',
 'm-2_added',
 'm-1_added',
 'm+1_added']

In [128]:
def strip_right(df, suffix='_x'):
    df.columns = df.columns.str.rstrip(suffix)

strip_right(universe,'_original')

In [129]:
def strip_right(df, suffix='_x'):
    df.columns = df.columns.str.rstrip(suffix)

strip_right(universe,'_original')
universe=universe.drop([s + '_added' for s in cols],axis=1)

In [130]:
list(universe.columns)

['DATE',
 'COMNAM',
 'NCUSIP',
 'cusip_NCUSIP',
 'cusip_cusip',
 'cusip',
 'PERMNO',
 'permno_cusip',
 'permno_NCUSIP',
 'perm',
 'PERMCO',
 'SICCD',
 'TICKER',
 'TICKER_PERMNO',
 'TICKER_perm',
 'TICKER_copy',
 'accru',
 'adv_sale',
 'aftret_eq',
 'aftret_equity',
 'aftret_invcapx',
 'at_tu',
 'bm',
 'CAPEI',
 'capital_rat',
 'cash_convers',
 'cash_debt',
 'cash_lt',
 'cash_rat',
 'cfm',
 'curr_debt',
 'curr_rat',
 'de_rat',
 'debt_assets',
 'debt_at',
 'debt_capit',
 'debt_ebitd',
 'debt_invcap',
 'divyield',
 'dltt_be',
 'dp',
 'efftax',
 'equity_invcap',
 'evm',
 'fcf_ocf',
 'gpm',
 'GProf',
 'int_debt',
 'int_totdebt',
 'intcov',
 'intcov_rat',
 'inv_tu',
 'invt_act',
 'lt_debt',
 'lt_ppent',
 'npm',
 'ocf_lct',
 'opmad',
 'opmbd',
 'pay_tu',
 'pcf',
 'pe_ex',
 'pe_inc',
 'pe_op_basic',
 'pe_op_d',
 'PEG_1yrforward',
 'PEG_ltgforward',
 'PEG_t',
 'pretret_earnat',
 'pretret',
 'profit_lct',
 'ps',
 'ptb',
 'ptpm',
 'quick_rat',
 'rd_sale',
 'rect_act',
 'rect_tu',
 '',
 'roce',
 'roe',
 'sale_equity',
 'sale_invcap',
 'sale_nwc',
 'short_debt',
 'staff_sale',
 'totdebt_invcap',
 'cusip_added',
 'm-12',
 'm-11',
 'm-10',
 'm-9',
 'm-8',
 'm-7',
 'm-6',
 'm-5',
 'm-4',
 'm-3',
 'm-2',
 'm-1',
 'm+1',
 'cusip']

In [131]:
universe.to_csv('./universe_files/financial_ratios_universe_7.csv',index=False)

In [133]:
idx = (universe[cols].isna()).sum(axis=1)==13

In [152]:
temp=universe[idx][['NCUSIP']].drop_duplicates()

In [153]:
temp[:1000].to_csv('cusips.txt',index=False,header=False)

In [154]:
temp[1000:2000].to_csv('cusips.txt',index=False,header=False)

In [155]:
temp[2000:3000].to_csv('cusips.txt',index=False,header=False)

In [156]:
temp[3000:4000].to_csv('cusips.txt',index=False,header=False)

In [157]:
temp[4000:5000].to_csv('cusips.txt',index=False,header=False)

In [158]:
temp[6000:7000].to_csv('cusips.txt',index=False,header=False)

In [159]:
temp[7000:].to_csv('cusips.txt',index=False,header=False)

In [160]:
new_data=pd.DataFrame()

In [161]:
new_data=new_data.append(pd.read_csv('1.csv',dtype={'cusip':str}))
new_data=new_data.append(pd.read_csv('2.csv',dtype={'cusip':str}))
new_data=new_data.append(pd.read_csv('3.csv',dtype={'cusip':str}))
new_data=new_data.append(pd.read_csv('4.csv',dtype={'cusip':str}))
new_data=new_data.append(pd.read_csv('5.csv',dtype={'cusip':str}))
new_data=new_data.append(pd.read_csv('6.csv',dtype={'cusip':str}))
new_data=new_data.append(pd.read_csv('7.csv',dtype={'cusip':str}))

In [163]:
new_data=new_data.drop_duplicates()

In [164]:
new_data['datadate'] = pd.to_datetime(new_data['datadate'],format="%Y%m%d")

C:\Users\13473\.conda\envs\envTF22\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [165]:
new_data

         gvkey iid   datadate      cusip    trt1m
0         1086   1 1991-06-30  031095102      NaN
1         1086   1 1991-07-31  031095102 -13.0132
2         1086   1 1991-08-31  031095102   0.0000
3         1086   1 1991-09-30  031095102   0.0000
4         1086   1 1991-10-31  031095102   0.0000
...        ...  ..        ...        ...      ...
246808  147310  01 2006-09-30  891539108 -92.8571
246809  147310  01 2006-10-31  891539108   0.0000
246810  147310  01 2006-11-30  891539108   0.0000
246811  147310  01 2006-12-31  891539108   0.0000
246812  147310  01 2007-01-31  891539108   0.0000

[752747 rows x 5 columns]

In [166]:
return_table=new_data[['cusip','datadate','trt1m']].pivot_table(index='cusip',columns='datadate',values='trt1m')

In [168]:
new_return_table=pd.DataFrame()
for d in dates:
    print(d)
    time_slice = list(pd.date_range(end=d,periods=12, freq='M').tolist() + pd.date_range(start=((d+datetime.timedelta(days=1))),periods=1, freq='M').tolist())
    new_temp_df = return_table.loc[:,time_slice]
    new_temp_df.columns=cols
    new_temp_df=new_temp_df.dropna(how='all')
    new_temp_df['cusip'] = new_temp_df.index 
    new_temp_df['DATE'] = d 
    new_return_table = new_return_table.append(new_temp_df,ignore_index=True)

1971-01-31 00:00:00
1971-02-28 00:00:00
1971-03-31 00:00:00
1971-04-30 00:00:00
1971-05-31 00:00:00
1971-06-30 00:00:00
1971-07-31 00:00:00
1971-08-31 00:00:00
1971-09-30 00:00:00
1971-10-31 00:00:00
1971-11-30 00:00:00
1971-12-31 00:00:00
1972-01-31 00:00:00
1972-02-29 00:00:00
1972-03-31 00:00:00
1972-04-30 00:00:00
1972-05-31 00:00:00
1972-06-30 00:00:00
1972-07-31 00:00:00
1972-08-31 00:00:00
1972-09-30 00:00:00
1972-10-31 00:00:00
1972-11-30 00:00:00
1972-12-31 00:00:00
1973-01-31 00:00:00
1973-02-28 00:00:00
1973-03-31 00:00:00
1973-04-30 00:00:00
1973-05-31 00:00:00
1973-06-30 00:00:00
1973-07-31 00:00:00
1973-08-31 00:00:00
1973-09-30 00:00:00
1973-10-31 00:00:00
1973-11-30 00:00:00
1973-12-31 00:00:00
1974-01-31 00:00:00
1974-02-28 00:00:00
1974-03-31 00:00:00
1974-04-30 00:00:00
1974-05-31 00:00:00
1974-06-30 00:00:00
1974-07-31 00:00:00
1974-08-31 00:00:00
1974-09-30 00:00:00
1974-10-31 00:00:00
1974-11-30 00:00:00
1974-12-31 00:00:00
1975-01-31 00:00:00
1975-02-28 00:00:00
1975-03-31 00:00:00
1975-04-30 00:00:00
1975-05-31 00:00:00
1975-06-30 00:00:00
1975-07-31 00:00:00
1975-08-31 00:00:00
1975-09-30 00:00:00
1975-10-31 00:00:00
1975-11-30 00:00:00
1975-12-31 00:00:00
1976-01-31 00:00:00
1976-02-29 00:00:00
1976-03-31 00:00:00
1976-04-30 00:00:00
1976-05-31 00:00:00
1976-06-30 00:00:00
1976-07-31 00:00:00
1976-08-31 00:00:00
1976-09-30 00:00:00
1976-10-31 00:00:00
1976-11-30 00:00:00
1976-12-31 00:00:00
1977-01-31 00:00:00
1977-02-28 00:00:00
1977-03-31 00:00:00
1977-04-30 00:00:00
1977-05-31 00:00:00
1977-06-30 00:00:00
1977-07-31 00:00:00
1977-08-31 00:00:00
1977-09-30 00:00:00
1977-10-31 00:00:00
1977-11-30 00:00:00
1977-12-31 00:00:00
1978-01-31 00:00:00
1978-02-28 00:00:00
1978-03-31 00:00:00
1978-04-30 00:00:00
1978-05-31 00:00:00
1978-06-30 00:00:00
1978-07-31 00:00:00
1978-08-31 00:00:00
1978-09-30 00:00:00
1978-10-31 00:00:00
1978-11-30 00:00:00
1978-12-31 00:00:00
1979-01-31 00:00:00
1979-02-28 00:00:00
1979-03-31 00:00:00
1979-04-30 00:00:00
1979-05-31 00:00:00
1979-06-30 00:00:00
1979-07-31 00:00:00
1979-08-31 00:00:00
1979-09-30 00:00:00
1979-10-31 00:00:00
1979-11-30 00:00:00
1979-12-31 00:00:00
1980-01-31 00:00:00
1980-02-29 00:00:00
1980-03-31 00:00:00
1980-04-30 00:00:00
1980-05-31 00:00:00
1980-06-30 00:00:00
1980-07-31 00:00:00
1980-08-31 00:00:00
1980-09-30 00:00:00
1980-10-31 00:00:00
1980-11-30 00:00:00
1980-12-31 00:00:00
1981-01-31 00:00:00
1981-02-28 00:00:00
1981-03-31 00:00:00
1981-04-30 00:00:00
1981-05-31 00:00:00
1981-06-30 00:00:00
1981-07-31 00:00:00
1981-08-31 00:00:00
1981-09-30 00:00:00
1981-10-31 00:00:00
1981-11-30 00:00:00
1981-12-31 00:00:00
1982-01-31 00:00:00
1982-02-28 00:00:00
1982-03-31 00:00:00
1982-04-30 00:00:00
1982-05-31 00:00:00
1982-06-30 00:00:00
1982-07-31 00:00:00
1982-08-31 00:00:00
1982-09-30 00:00:00
1982-10-31 00:00:00
1982-11-30 00:00:00
1982-12-31 00:00:00
1983-01-31 00:00:00
1983-02-28 00:00:00
1983-03-31 00:00:00
1983-04-30 00:00:00
1983-05-31 00:00:00
1983-06-30 00:00:00
1983-07-31 00:00:00
1983-08-31 00:00:00
1983-09-30 00:00:00
1983-10-31 00:00:00
1983-11-30 00:00:00
1983-12-31 00:00:00
1984-01-31 00:00:00
1984-02-29 00:00:00
1984-03-31 00:00:00
1984-04-30 00:00:00
1984-05-31 00:00:00
1984-06-30 00:00:00
1984-07-31 00:00:00
1984-08-31 00:00:00
1984-09-30 00:00:00
1984-10-31 00:00:00
1984-11-30 00:00:00
1984-12-31 00:00:00
1985-01-31 00:00:00
1985-02-28 00:00:00
1985-03-31 00:00:00
1985-04-30 00:00:00
1985-05-31 00:00:00
1985-06-30 00:00:00
1985-07-31 00:00:00
1985-08-31 00:00:00
1985-09-30 00:00:00
1985-10-31 00:00:00
1985-11-30 00:00:00
1985-12-31 00:00:00
1986-01-31 00:00:00
1986-02-28 00:00:00
1986-03-31 00:00:00
1986-04-30 00:00:00
1986-05-31 00:00:00
1986-06-30 00:00:00
1986-07-31 00:00:00
1986-08-31 00:00:00
1986-09-30 00:00:00
1986-10-31 00:00:00
1986-11-30 00:00:00
1986-12-31 00:00:00
1987-01-31 00:00:00
1987-02-28 00:00:00
1987-03-31 00:00:00
1987-04-30 00:00:00
1987-05-31 00:00:00
1987-06-30 00:00:00
1987-07-31 00:00:00
1987-08-31 00:00:00
1987-09-30 00:00:00
1987-10-31 00:00:00
1987-11-30 00:00:00
1987-12-31 00:00:00
1988-01-31 00:00:00
1988-02-29 00:00:00
1988-03-31 00:00:00
1988-04-30 00:00:00
1988-05-31 00:00:00
1988-06-30 00:00:00
1988-07-31 00:00:00
1988-08-31 00:00:00
1988-09-30 00:00:00
1988-10-31 00:00:00
1988-11-30 00:00:00
1988-12-31 00:00:00
1989-01-31 00:00:00
1989-02-28 00:00:00
1989-03-31 00:00:00
1989-04-30 00:00:00
1989-05-31 00:00:00
1989-06-30 00:00:00
1989-07-31 00:00:00
1989-08-31 00:00:00
1989-09-30 00:00:00
1989-10-31 00:00:00
1989-11-30 00:00:00
1989-12-31 00:00:00
1990-01-31 00:00:00
1990-02-28 00:00:00
1990-03-31 00:00:00
1990-04-30 00:00:00
1990-05-31 00:00:00
1990-06-30 00:00:00
1990-07-31 00:00:00
1990-08-31 00:00:00
1990-09-30 00:00:00
1990-10-31 00:00:00
1990-11-30 00:00:00
1990-12-31 00:00:00
1991-01-31 00:00:00
1991-02-28 00:00:00
1991-03-31 00:00:00
1991-04-30 00:00:00
1991-05-31 00:00:00
1991-06-30 00:00:00
1991-07-31 00:00:00
1991-08-31 00:00:00
1991-09-30 00:00:00
1991-10-31 00:00:00
1991-11-30 00:00:00
1991-12-31 00:00:00
1992-01-31 00:00:00
1992-02-29 00:00:00
1992-03-31 00:00:00
1992-04-30 00:00:00
1992-05-31 00:00:00
1992-06-30 00:00:00
1992-07-31 00:00:00
1992-08-31 00:00:00
1992-09-30 00:00:00
1992-10-31 00:00:00
1992-11-30 00:00:00
1992-12-31 00:00:00
1993-01-31 00:00:00
1993-02-28 00:00:00
1993-03-31 00:00:00
1993-04-30 00:00:00
1993-05-31 00:00:00
1993-06-30 00:00:00
1993-07-31 00:00:00
1993-08-31 00:00:00
1993-09-30 00:00:00
1993-10-31 00:00:00
1993-11-30 00:00:00
1993-12-31 00:00:00
1994-01-31 00:00:00
1994-02-28 00:00:00
1994-03-31 00:00:00
1994-04-30 00:00:00
1994-05-31 00:00:00
1994-06-30 00:00:00
1994-07-31 00:00:00
1994-08-31 00:00:00
1994-09-30 00:00:00
1994-10-31 00:00:00
1994-11-30 00:00:00
1994-12-31 00:00:00
1995-01-31 00:00:00
1995-02-28 00:00:00
1995-03-31 00:00:00
1995-04-30 00:00:00
1995-05-31 00:00:00
1995-06-30 00:00:00
1995-07-31 00:00:00
1995-08-31 00:00:00
1995-09-30 00:00:00
1995-10-31 00:00:00
1995-11-30 00:00:00
1995-12-31 00:00:00
1996-01-31 00:00:00
1996-02-29 00:00:00
1996-03-31 00:00:00
1996-04-30 00:00:00
1996-05-31 00:00:00
1996-06-30 00:00:00
1996-07-31 00:00:00
1996-08-31 00:00:00
1996-09-30 00:00:00
1996-10-31 00:00:00
1996-11-30 00:00:00
1996-12-31 00:00:00
1997-01-31 00:00:00
1997-02-28 00:00:00
1997-03-31 00:00:00
1997-04-30 00:00:00
1997-05-31 00:00:00
1997-06-30 00:00:00
1997-07-31 00:00:00
1997-08-31 00:00:00
1997-09-30 00:00:00
1997-10-31 00:00:00
1997-11-30 00:00:00
1997-12-31 00:00:00
1998-01-31 00:00:00
1998-02-28 00:00:00
1998-03-31 00:00:00
1998-04-30 00:00:00
1998-05-31 00:00:00
1998-06-30 00:00:00
1998-07-31 00:00:00
1998-08-31 00:00:00
1998-09-30 00:00:00
1998-10-31 00:00:00
1998-11-30 00:00:00
1998-12-31 00:00:00
1999-01-31 00:00:00
1999-02-28 00:00:00
1999-03-31 00:00:00
1999-04-30 00:00:00
1999-05-31 00:00:00
1999-06-30 00:00:00
1999-07-31 00:00:00
1999-08-31 00:00:00
1999-09-30 00:00:00
1999-10-31 00:00:00
1999-11-30 00:00:00
1999-12-31 00:00:00
2000-01-31 00:00:00
2000-02-29 00:00:00
2000-03-31 00:00:00
2000-04-30 00:00:00
2000-05-31 00:00:00
2000-06-30 00:00:00
2000-07-31 00:00:00
2000-08-31 00:00:00
2000-09-30 00:00:00
2000-10-31 00:00:00
2000-11-30 00:00:00
2000-12-31 00:00:00
2001-01-31 00:00:00
2001-02-28 00:00:00
2001-03-31 00:00:00
2001-04-30 00:00:00
2001-05-31 00:00:00
2001-06-30 00:00:00
2001-07-31 00:00:00
2001-08-31 00:00:00
2001-09-30 00:00:00
2001-10-31 00:00:00
2001-11-30 00:00:00
2001-12-31 00:00:00
2002-01-31 00:00:00
2002-02-28 00:00:00
2002-03-31 00:00:00
2002-04-30 00:00:00
2002-05-31 00:00:00
2002-06-30 00:00:00
2002-07-31 00:00:00
2002-08-31 00:00:00
2002-09-30 00:00:00
2002-10-31 00:00:00
2002-11-30 00:00:00
2002-12-31 00:00:00
2003-01-31 00:00:00
2003-02-28 00:00:00
2003-03-31 00:00:00
2003-04-30 00:00:00
2003-05-31 00:00:00
2003-06-30 00:00:00
2003-07-31 00:00:00
2003-08-31 00:00:00
2003-09-30 00:00:00
2003-10-31 00:00:00
2003-11-30 00:00:00
2003-12-31 00:00:00
2004-01-31 00:00:00
2004-02-29 00:00:00
2004-03-31 00:00:00
2004-04-30 00:00:00
2004-05-31 00:00:00
2004-06-30 00:00:00
2004-07-31 00:00:00
2004-08-31 00:00:00
2004-09-30 00:00:00
2004-10-31 00:00:00
2004-11-30 00:00:00
2004-12-31 00:00:00
2005-01-31 00:00:00
2005-02-28 00:00:00
2005-03-31 00:00:00

2005-04-30 00:00:00
2005-05-31 00:00:00
2005-06-30 00:00:00
2005-07-31 00:00:00
2005-08-31 00:00:00
2005-09-30 00:00:00
2005-10-31 00:00:00
2005-11-30 00:00:00
2005-12-31 00:00:00
2006-01-31 00:00:00
2006-02-28 00:00:00
2006-03-31 00:00:00
2006-04-30 00:00:00
2006-05-31 00:00:00
2006-06-30 00:00:00
2006-07-31 00:00:00
2006-08-31 00:00:00
2006-09-30 00:00:00
2006-10-31 00:00:00
2006-11-30 00:00:00
2006-12-31 00:00:00
2007-01-31 00:00:00
2007-02-28 00:00:00
2007-03-31 00:00:00
2007-04-30 00:00:00
2007-05-31 00:00:00
2007-06-30 00:00:00
2007-07-31 00:00:00
2007-08-31 00:00:00
2007-09-30 00:00:00
2007-10-31 00:00:00
2007-11-30 00:00:00
2007-12-31 00:00:00
2008-01-31 00:00:00
2008-02-29 00:00:00
2008-03-31 00:00:00
2008-04-30 00:00:00
2008-05-31 00:00:00
2008-06-30 00:00:00
2008-07-31 00:00:00
2008-08-31 00:00:00
2008-09-30 00:00:00
2008-10-31 00:00:00
2008-11-30 00:00:00
2008-12-31 00:00:00
2009-01-31 00:00:00
2009-02-28 00:00:00
2009-03-31 00:00:00
2009-04-30 00:00:00
2009-05-31 00:00:00
2009-06-30 00:00:00
2009-07-31 00:00:00
2009-08-31 00:00:00
2009-09-30 00:00:00
2009-10-31 00:00:00
2009-11-30 00:00:00
2009-12-31 00:00:00
2010-01-31 00:00:00
2010-02-28 00:00:00
2010-03-31 00:00:00
2010-04-30 00:00:00
2010-05-31 00:00:00
2010-06-30 00:00:00
2010-07-31 00:00:00
2010-08-31 00:00:00
2010-09-30 00:00:00
2010-10-31 00:00:00
2010-11-30 00:00:00
2010-12-31 00:00:00
2011-01-31 00:00:00
2011-02-28 00:00:00
2011-03-31 00:00:00
2011-04-30 00:00:00
2011-05-31 00:00:00
2011-06-30 00:00:00
2011-07-31 00:00:00
2011-08-31 00:00:00
2011-09-30 00:00:00
2011-10-31 00:00:00
2011-11-30 00:00:00
2011-12-31 00:00:00
2012-01-31 00:00:00
2012-02-29 00:00:00
2012-03-31 00:00:00
2012-04-30 00:00:00
2012-05-31 00:00:00
2012-06-30 00:00:00
2012-07-31 00:00:00
2012-08-31 00:00:00
2012-09-30 00:00:00
2012-10-31 00:00:00
2012-11-30 00:00:00
2012-12-31 00:00:00
2013-01-31 00:00:00
2013-02-28 00:00:00
2013-03-31 00:00:00
2013-04-30 00:00:00
2013-05-31 00:00:00
2013-06-30 00:00:00
2013-07-31 00:00:00
2013-08-31 00:00:00
2013-09-30 00:00:00
2013-10-31 00:00:00
2013-11-30 00:00:00
2013-12-31 00:00:00
2014-01-31 00:00:00
2014-02-28 00:00:00
2014-03-31 00:00:00
2014-04-30 00:00:00
2014-05-31 00:00:00
2014-06-30 00:00:00
2014-07-31 00:00:00
2014-08-31 00:00:00
2014-09-30 00:00:00
2014-10-31 00:00:00
2014-11-30 00:00:00
2014-12-31 00:00:00
2015-01-31 00:00:00
2015-02-28 00:00:00
2015-03-31 00:00:00
2015-04-30 00:00:00
2015-05-31 00:00:00
2015-06-30 00:00:00
2015-07-31 00:00:00
2015-08-31 00:00:00
2015-09-30 00:00:00
2015-10-31 00:00:00
2015-11-30 00:00:00
2015-12-31 00:00:00
2016-01-31 00:00:00
2016-02-29 00:00:00
2016-03-31 00:00:00
2016-04-30 00:00:00
2016-05-31 00:00:00
2016-06-30 00:00:00
2016-07-31 00:00:00
2016-08-31 00:00:00
2016-09-30 00:00:00
2016-10-31 00:00:00
2016-11-30 00:00:00
2016-12-31 00:00:00
2017-01-31 00:00:00
2017-02-28 00:00:00
2017-03-31 00:00:00
2017-04-30 00:00:00
2017-05-31 00:00:00
2017-06-30 00:00:00
2017-07-31 00:00:00
2017-08-31 00:00:00
2017-09-30 00:00:00
2017-10-31 00:00:00
2017-11-30 00:00:00
2017-12-31 00:00:00
2018-01-31 00:00:00
2018-02-28 00:00:00
2018-03-31 00:00:00
2018-04-30 00:00:00
2018-05-31 00:00:00
2018-06-30 00:00:00
2018-07-31 00:00:00
2018-08-31 00:00:00
2018-09-30 00:00:00
2018-10-31 00:00:00
2018-11-30 00:00:00
2018-12-31 00:00:00
2019-01-31 00:00:00
2019-02-28 00:00:00
2019-03-31 00:00:00
2019-04-30 00:00:00
2019-05-31 00:00:00
2019-06-30 00:00:00
2019-07-31 00:00:00
2019-08-31 00:00:00
2019-09-30 00:00:00
2019-10-31 00:00:00
2019-11-30 00:00:00
2019-12-31 00:00:00

In [170]:
new_return_table=new_return_table[new_cols]
new_return_table

,DATE,cusip,m-12,m-11,m-10,m-9,m-8,m-7,m-6,m-5,m-4,m-3,m-2,m-1,m+1
0,1971-01-31,000032102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.3830,-28.0000,11.1111,-10.0000,23.6111
1,1971-01-31,000957100,8.2436,-9.9337,-23.3529,6.7308,2.7027,6.3508,5.3720,22.7450,-8.4344,3.8461,9.0909,-0.1235,11.7721
2,1971-01-31,001007103,11.2871,5.8036,-18.1435,-3.1959,-2.6738,8.7912,-7.6768,10.4396,5.9701,0.8451,7.9439,11.2554,17.0428
3,1971-01-31,001412105,-11.1111,-9.3750,-17.2414,-25.0000,-11.1111,0.0000,18.7500,15.7895,-31.8182,-73.3333,125.0000,22.2222,100.0000
4,1971-01-31,001476100,-5.0633,-16.0000,-31.7460,-9.3023,-17.9487,-9.3750,24.1379,2.7778,-16.2162,6.4516,-3.0303,15.6250,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
756854,2019-12-31,98421X102,NaN,NaN,NaN,NaN,NaN,14.9268,-0.2985,58.0838,-16.6667,-2.7273,-22.8972,25.7576,-31.3253
756855,2019-12-31,98872F204,-20.0000,-2.5000,1.7094,165.5462,-35.1266,-1.4634,-51.1551,28.3784,64.7368,-4.1534,4.3333,-3.8339,3.3223
756856,2019-12-31,98919T407,-99.6154,0.0000,0.0000,-90.0000,900.0000,-99.0000,NaN,9900.0000,-99.0000,9900.0000,0.0000,0.0000,0.0000
756857,2019-12-31,989701107,16.8139,8.0059,-11.1350,8.6325,-12.0819,6.7564,-1.9791,-8.0763,8.3475,8.8724,3.4042,4.2989,-12.3844
756858,2019-12-31,98976E400,0.0000,-60.0000,6900.0000,560.7143,-2.7027,-4.4444,193.0233,-40.2778,-16.9435,-6.0000,-27.6596,-38.2353,107.6190

In [171]:
universe=universe.merge(new_return_table, how='left',left_on=['DATE','NCUSIP'],right_on=['DATE','cusip'],suffixes=['_original','_added'])

In [173]:
idx = (universe[[s + '_original' for s in cols]].isna()).sum(axis=1)==13
for col in cols:
    print(col)
    tofill=universe.loc[idx,col+'_added']
    universe.loc[idx,(col+'_original')] = universe.loc[idx,(col+'_original')].fillna(value=tofill)

m-12
m-11
m-10
m-9
m-8
m-7
m-6
m-5
m-4
m-3
m-2
m-1
m+1

In [174]:
def strip_right(df, suffix='_x'):
    df.columns = df.columns.str.rstrip(suffix)

strip_right(universe,'_original')
universe=universe.drop([s + '_added' for s in cols],axis=1)

In [175]:
universe.to_csv('./universe_files/complete_universe.csv',index=False)

In [ ]:
del universe

In [ ]:
universe = pd.read_csv('D:/project/e4040-2020Fall-Project-WNZH-jr4001-xy2419-gl2664/universe_files/financial_ratios_universe_7.csv',low_memory=False,dtype={'COMNAM':str,'NCUSIP':str,'cusip_NCUSIP':str,'cusip_cusip':str,'cusip':str,'PERMNO':str,'permno_cusip':str,'permno_NCUSIP':str,'permno':str,'PERMCO':str,'SICCD':str,'TICKER_original':str,'TICKER_PERMNO':str,'TICKER_permno':str,'TICKER_copy':str})

In [ ]:
universe.head(10)